.form {
  background: white;
  border-radius: 10px;
  padding: 31px 50px;
  box-shadow: $default-box-shadow;

  @include below('m_lg') {
    padding: 0 20px 0 28px;
    margin: 0 -20px;
    border-radius: 0;
    box-shadow: none;
    background: transparent;
  }

  &Container {
    @include display-flex(column, flex-start, stretch);

    row-gap: calc(50px - 20px); // helperText issue

    @include below('t_md') {
      > * {
        max-width: 100%;
      }
    }

    @include at('t_md') {
      > * {
        max-width: 424px;
      }
    }
  }

  &Confirm {
    width: 100%;
    margin-top: 28px;
    @include at('m_lg') {
      width: 207px;
    }
    @include below('m_lg') {
      max-width: 100%;
    }
  }

  &Gender {
    margin: 40px 0;
  } 
}