.currentHospital {

  &Wrapper {
    margin-bottom: 100px;

    @include below('t_md') {
      margin-bottom: 29px;
    }
  }

  &ContainerData {
    @include display-flex(column, flex-start, flex-start);
    > * {
      @include stack-space(20px);

      @include below('t_md') {
        @include stack-space(12px);
      }
    }
  }

  &Title {
    margin-bottom: 50px;

    @include below('t_md') {
      margin-bottom: 12px;
    }
  }

  &TextIcon {
    @include display-flex(row, center, center);
    &Itself {
      width: 24px;
      flex-shrink: 0;
    }
  }
  
  &ContainerDataItemsFix {

    &TextIcon {
  
      &:nth-child(2) {
        svg {
          margin-bottom: 5px;
        }
      }
    }
  }
}

.currentDataContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include below('t_md') {
    grid-template-columns: 1fr;
    grid-gap: 12px;
  }
}