.specialistCard {
  &DescriptionContainer {
    @include display-flex(column, center, flex-start);
    height: 100%;

    margin-left: 28px;
  }

  &IconContainer {
    width: 100%;
    height: 100%;

    @include display-flex(row, center, center);
    padding: 12px;

    @include below('t_md') {
      padding: 9px;
    }

    background-color: map-get($grey, 'darken-2');

    > img {
      width: 115px;
      height: 148px;
      @include below('t_md') {
        width: 68px;
        height: 86px;
      }
    }
  }
}