.specialityCard {
  @include display-flex(row, space-between, center);
  cursor: pointer;
  height: 100px;

  @include below('t_md') {
    height: 72px;
  }

  background: white;

  border-radius: 10px;
  border: 2px solid map-get($grey, 'lighten-3');

  padding: 10px 20px;

  &Text {
    max-width: 167px;

    @include below('t_lg') {
      max-width: 235px;
    }
  }

  &Container {
    width: 100%;
    @include display-flex(row, space-between, center);
    max-width: calc(167px + 91px + 9px);

    @include below('t_md') {
      max-width: 100%;
    }
  }
}