.avatarPlaceholder {
  height: 100%;
  width: 100%;
  background-color: map-get($grey, 'darken-2');
  border-radius: 10px;

  @include below('t_md') {
    border: 1px solid map-get($grey, 'lighten-3');
  }

  img {    
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
  }
}