.layout {
  &Cards {
    grid-column: 1 / -1;
    margin-bottom: 100px;

    @include below('t_md') {
      margin-bottom: 28px
    }

  
    > * {
      @include stack-space(20px);
    }
  }

  &CurrentHospital,
  &Heading {
    grid-column: 1 / -1;
  }

  &Heading {
    margin-bottom: 50px;
  }
}

.buttonShowMore {
  @include display-flex(row, center, center);
}

.hospitalNoFoundData {
  margin-top: calc(94px - 50px);
}