// Note: Файл содержит стили для всех карточек(пока что Only адаптив)
// можно разбить на модули по-меньше, если сущностей станет больше

.card {
  &Specialists {
    .image {
      @include between('m_sm-1', 't_md') {
        flex-shrink: 0;
        border-radius: 10px;
        overflow: hidden;
      }
    }
  }

  &Hospital {
    .description {
      @include below('m_sm-1') {
        padding: 0 !important;
      }
    }

    .image {
      @include between('m_sm-1', 't_md') {
        flex-shrink: 0;
        border-radius: 10px;
        overflow: hidden;
      }
    
      @include below('m_sm-1') {
        grid-column: span 1;
        width: 100%;
        height: 104px;
      }
    }

    @include below('m_sm-1') {
      padding: 8px 13px;
      display: grid;
      grid-template-columns: 1fr;
      justify-items: flex-start;
      align-items: center;
      gap: 14px 14px;

      > * {
        grid-column: 1 / -1;
      }
    }

    @include between('m_sm-1', 't_md') {
      padding: 8px 13px;
      display: grid;
      grid-template-columns: 104px 1fr;
      justify-items: flex-start;
      align-items: center;
      gap: 12px 28px;
    }
  }
  &Specialists {
    @include below('t_md') {
      padding: 8px 13px;
      @include display-flex(row, flex-start, center);
    }
  }
}

.additionalData {
  width: 100%;
  grid-column: 1 / -1;

  @include at('t_md') {
    display: none;
  }
}