.header {
  background-color: map-get($background, 'header');
  padding: 30px 0 17px 0;
  
  @include below('t_md') {
    position: relative;
    z-index: 10;
    box-shadow: 0px 4px 10px rgba(1, 41, 101, 0.5);
  }

  &LogoContainer {
    @include display-flex(row, flex-start, center);
    > * {
      @include inline-space(40px);
    }

    @include below('t_md') {
      grid-column: span 4;
      justify-content: space-between;
    }
  }

  &LogoWrapper {
    grid-column: span 8;
    align-self: center;
  }

  &Button {
    grid-column: -4 / -1; 
    align-self: center;

    @include below('t_lg') {
      display: none;
    }

    &Mobile {
      display: none;
      grid-column: -4 / -1;
      align-self: end;

      @include between('t_md', 't_lg') {
        display: block;
      }
    }
  }


  &DesktopMenu {
    grid-column: 1 / -4;
    @include display-flex(row, flex-start, center);
    margin-top: 53px;

    > * {
      @include inline-space(32px);
    }

    @include below('t_md') {
      display: none;
    }

    &Item {
      font-family: Rubik, sans-serif;
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.15;
      color: map-get($grey, 'darken-1');
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: map-get($blue, 'secondary');
      }
    }
  }
}

.geolocationContainer {
  @include display-flex(row, flex-start, center);
  grid-column: span 8;

  > * {
    @include inline-space(16px);
  }
}