.showMore,
.textTitle {
  grid-column: 1 / -1;
}

.showMore {
  @include display-flex(row, center, center);
}

.containerCards {
  margin: 50px 0;
  grid-column: 1 / -1;

  @include below('t_md') {
    margin-top: 10px;
    margin-bottom: 28px;
  }

  > * {
    @include stack-space(20px);
  }
}

