.layoutBreadcrumbs {
  grid-column: 1 / -1;
}

.layoutUserInformation {
  grid-column: 1 / -1;

  &Heading {
    margin-bottom: 60px;

    @include below('t_md') {
      margin-bottom: 0;
    }
  }
}

.userData {
  &Container {
    @include at('t_lg') {
      @include display-grid(12, 32px, 0);
    }

    @include between('t_md', 't_lg') {
      @include display-grid(8, 32px, 0);
    }

    @include below('t_md') {
      @include display-grid(4, 24px, 0);
    }
  }

  &Controls {
    @include display-flex(row, flex-end, space-between);
    @include at('t_lg') {
      grid-column: span 4;
    }
    @include between('t_md', 't_lg') {
      grid-column: 1 / -1;
      grid-row: 1;
    }
    @include below('t_md') {
      grid-column: 1 / -1;
      grid-row: 1;
    }
  }

  &Itself {
    @include at('t_lg') {
      grid-column: span 8;
    }
    @include between('t_md', 't_lg') {
      grid-column: 1 / -1;
    }
    @include below('t_md') {
      grid-column: 1 / -1;
      grid-row: 3;
    }
  }

  &Heading {
    grid-column: 1 / -1;
    margin-bottom: 50px;
    @include between('t_md', 't_lg') {
      margin-top: 50px;
    }
    @include below('t_md') {
      grid-row: 2;
      margin-bottom: 10px;
      margin-top: 28px;
    }
  }
}