.title {
  margin-bottom: 15px;
}

.dataBlock {
  @include display-flex(row, flex-start, center);
  gap: 10px;
  
  &:not(:last-child) {
    border-bottom: 1px solid map-get($grey, 'lighten-2');
    padding-bottom: 8px;
  }
}

.dataBlockMultiple {
  @include display-grid(2, 10px, 10px);
  border-bottom: 1px solid map-get($grey, 'lighten-2');
  padding-bottom: 8px;

  .dataBlockContainer:nth-child(1) {
    grid-row: 2;
  }

  .dataBlockContainer:nth-child(2) {
    grid-row: 1;
  }

  > * {
    grid-column: span 1;
  }

  @include below('m_lg') {
    @include display-grid(1, 10px, 10px);
  }
}

.userData {
  > * {
    @include stack-space(22px)
  }
}