.card {
  background-color: white;
  border: 1px solid map-get($grey, 'lighten-3');
  border-radius: 10px;
  overflow: hidden;

  @include below('t_md') {
    padding: 0px;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @include at('t_lg') {
    @include display-grid(12, 32px, 31px);
  }

  @include between('t_md', 't_lg') {
    @include display-grid(8, 32px, 31px);
  }

  @include below('t_md') {
    @include display-grid(4, 32px, 0);
  }

  &Appointment {
    &Time {
      @include display-flex(column, center, center);
      background-color: map-get($grey, 'darken-2');
      padding: 0 14px;
      gap: 9px;
     
      grid-column: span 2;
      @include between('t_md', 'd_md') {
        grid-column: span 3;
      }

      @include below('t_md') {
        @include display-flex(row, flex-start, center);
        grid-column: 1 / -1;
        padding: 24px 16px;
        gap: 35px;
      }

      &AdditionalInformation {
        @include display-flex(column, flex-start, center);

        @include below('t_md') {
          @include display-flex(column, flex-start, flex-start);
        }
      }
    }
    
    &Information {
      @include display-flex(row, space-between, center);

      @include below('d_md') {
        @include display-flex(column, flex-start, flex-start);
        padding: 18px 17px;
      }
      
      grid-column: 3 / -1;

      @include between('t_md', 'd_md') {
        grid-column: 4 / -1;
      }

      @include below('t_md') {
        grid-column: 1 / -1;
      }

      &Container {
        padding: 18px 0;
        height: 100%;
      }

      &Piece:last-child {
        margin-top: 8px;
      }
      
      &DownloadOptions {
        @include display-flex(column, center, center);
        width: 100%;
        max-width: calc(169px + 20px * 2);
        gap: 12px;

        padding: 0 20px;
        border-left: 1px solid map-get($grey, 'darken-2');

        @include below('d_md') {
          @include display-flex(row, flex-start, center);
          width: 100%;
          max-width: calc(169px * 2 + 20px);
          margin-top: 16px;

          padding: 0;
          border-left: none;
        }

        @include below('t_md') {
          min-width: 145px;
          max-width: calc(145px * 2 + 20px);
        }
        > * {
          width: 100%;
          > * {
            width: 100%;
          }
        }
      }
    }
  }
}