.schedule {
  &Section {
    grid-column: span 4;

    @include between(1024px, 1070px) {
      grid-column: span 5;
    }

    @include below('t_lg') {
      grid-column: 1 / -1;
    }
  }

  &CurrentDateContainer {
    margin: 50px 0;
  }

  &CardsWrapper {
    grid-column: 5 / -1;
    margin-bottom: 100px;

    @include below('t_md') {
      margin-bottom: 28px;
    }

    @include between(1024px, 1070px) {
      grid-column: 6 / -1;
    }

    @include below('t_lg') {
      grid-column: 1 / -1;
    }
  }

  &Wrapper {
    @include at('t_lg') {
      @include display-grid(12, 32px, 0);
    }
  
    @include between('t_md', 't_lg') {
      @include display-grid(8, 32px, 0);
    }
  
    @include below('t_md') {
      @include display-grid(4, 24px, 0);
    }
  }
}

.additionalHospitals {
  grid-column: 1 / -1;
}

.calendarTabWrapper {
  margin-top: 50px;
  margin-bottom: 78px;

  @include below('t_lg') {
    margin-top: 10px;
    margin-bottom: 28px;
  }
}

.noFoundEntity {
  height: 100%;
  @include display-flex(row, center, center);
  padding-top: 100px;

  @include below('t_lg') {
    padding-top: 0px;
  }

  > *:nth-child(1) {
    margin-bottom: 29px;
  }
}