// Default Ant Stuff and global config
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: $body-font-family;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body {
  position: relative;
  font-family: $body-font-family;
  padding: 0 !important;
  margin: 0 !important;
  color: map-get($grey, 'base');
  height: 100vh;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

h1, h2, h3 {
  margin: 0;
}

ul {
  font-family: 'Rubik', sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  color: map-get($grey, 'base');
}