$body-font-family: 'Rubik', sans-serif;
$default-box-shadow: 0px 5px 10px rgba(24, 116, 253, 0.05);
// Почему-то не работает....
$border-radius: (
  'sm:' 10px,
  'md:' 15px,
  'lg:' 20px,
);

$background: (
  'header': #EBF4F8,
  'main': #FBFCFC,
  'footer': #F7FAFC,
);

$blue: (
  'base': #2C5282,
  'secondary': #1874FD,
  'lighten-1': #63B3ED,
  'darken-1': #0F334D,
);

$grey: (
  'base': #5B6473, // base
  'darken-1': #2D3748,
  'darken-2': #F4F4F4,
  'lighten-1': #718096,
  'lighten-2': #91A5BC,
  'lighten-3': #CBD5E0,
);

$headings: (
  'h1': (
    'size': 3rem,
    'weight': 700,
    'line-height': 1,
    'letter-spacing': 0,
    'font-family': $body-font-family,
  ),
  'h2': (
    'size': 1.75rem,
    'weight': 700,
    'line-height': 1,
    'letter-spacing': 0.0025em,
    'font-family': $body-font-family,
  ),
  'body-1': (
    'size': 1rem,
    'weight': 500,
    'line-height': 1.5,
    'letter-spacing': 0.005em,
    'font-family': $body-font-family,
  ),
  'body-2': (
    'size': 1rem,
    'weight': 600,
    'line-height': 1.5,
    'letter-spacing': 0.005em,
    'font-family': $body-font-family,
  ),
  'subtitle-1': (
    'size': 0.875rem,
    'weight': 600,
    'line-height': 1.25,
    'font-family': $body-font-family,
  ),
  'button': (
    'size': 0.875rem,
    'weight': 700,
    'line-height': 2,
    'letter-spacing': 0.015em,
    'font-family': $body-font-family,
  ),
  'caption': (
    'size': 0.75rem,
    'weight': 600,
    'line-height': 1.5,
    'letter-spacing': 0.005em,
    'font-family': $body-font-family,
  ),
);