.locationChanger {
  position: relative; // for pop up
  @include display-flex(row, flex-start, flex-start);
  margin-bottom: calc(24px / 2 + 2px); // смотреть макет

  > * {
    @include inline-space(9px);
  }

  &Title {
    max-width: 320px;
    @include below('t_md') {
      display: none;
    }
  }

  &:hover {
    cursor: pointer;
  }
}